@model HomeIndexViewModel

@{
    ViewData["Title"] = "Homepage";
}

@*<div class="text-center">
        <h1>This project is still in building. Please register to use features. Not all features available to guests</h1>
    </div>*@
<div class="text-center">
    <h1>Our top 3 Hampers</h1>
</div>

<div class="row justify-content-center">
    @{
        @foreach (var hamper in Model.Hampers)
        {
            <div class="col-md-3 m-2 text-center" style="height: 450px; width:300px">

                <div class="row justify-content-center" style="height: 100px">
                    <a href="@Url.Action("Details", "Home", new { id = hamper.HamperId })">
                        <h3>@hamper.Name</h3>
                    </a>
                </div>
                <div class="row justify-content-center">
                    <a href="@Url.Action("Details", "Home", new { id = hamper.HamperId })">
                        @if (hamper.FileName == null)
                        {
                            <img src="~/Images/Image-not-available_1.jpg" alt="N/A" height="200" style="border-radius: 25px" />
                        }
                        else
                        {
                            <img src="~/Images/@hamper.FileName" alt="@hamper.FileName" height="200" style="border-radius: 25px" />
                        }
                    </a>
                </div>
                <div class="row justify-content-center">
                    <h5>$@hamper.Price</h5>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="row justify-content-center">
                        <ul>
                            @foreach (var item in Model.Items)
                            {
                                if (hamper.HamperId == item.HamperId)
                                {
                                    <li>@item.Name @item.Size</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="row justify-content-center">
                        <form asp-controller="Home" asp-action="Create" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div>
                                <input asp-for="HamperId" value="@hamper.HamperId" hidden="hidden" />
                            </div>
                            <div>
                                <input asp-for="Price" value="@hamper.Price" hidden="hidden" />
                            </div>
                            <div class="form-row" style="margin-top: 50px">
                                <div class="col">
                                    <input class="form-control" value="1" asp-for="Quantity" type="number" name="quantity" min="1" max="5">
                                </div>
                                <div class="col">
                                    <input class="btn btn-primary" type="submit" value="Add to Cart" />
                                </div>
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    <a class="btn btn-primary w-80" style="margin-top: 100px" role="button" href="@Url.Action("Register", "Account")">Register to add to cart</a>
                }
            </div>
        }
    }
</div>

@*@foreach (var hamper in Model.Hampers)
    {
        <div class="col-md-3 m-2 text-center border border-dark" style="height: 400px; width:300px">
            <a href="@Url.Action("Details", "Home", new { id = hamper.HamperId })">
                @if (hamper.FileName == null)
                {
                    <img src="~/Images/Image-not-available_1.jpg" alt="N/A" height="200" />
                }
                else
                {
                    <img src="~/Images/@hamper.FileName" alt="@hamper.FileName" height="200" />
                }
            </a>            <h5>@hamper.Price</h5>
            <ul>
                @foreach (var item in Model.Items)
                {
                    if (hamper.HamperId == item.HamperId)
                    {
                        <li>@item.Name</li>
                    }
                }
            </ul>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    }*@
@*@{
        for (int i = 0; i < 3; i++)
        {
            <div class="col-md-3 m-2 text-center border border-dark" style="height: 400px; width:300px">
                <h3>Hamper @i</h3>
                <img src="#" alt="@i" />
                <h5>$10000</h5>
                <ul>
                    @for (int n = 0; n < 5; n++)
                    {
                        <li>@n</li>
                    }
                </ul>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        }
    }*@
