@model OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="text-primary">Order Details</h1>
</div>

<form asp-controller="Order" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-6">
            <h4>First Name: @Model.FirstName</h4>
        </div>
        <div class="col-md-6">
            <h4>Last Name: @Model.LastName</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Address:</h4>
            @{ if (Model.Addresses == null)
                {
                    <a class="btn btn-success w-50" role="button" href="@Url.Action("Create", "Address")">Create a Address</a>
                }
                else
                {
                    <select asp-for="AddressId">
                        <option disabled selected hidden>Select favourite addresses:</option>
                        @foreach (var address in Model.Addresses)
                        {
                            <option value="@address.AddressId">@address.StreetAddress</option>
                        }
                    </select>
                    <span asp-validation-for="AddressId" class="text-danger"></span>
                }
            }
        </div>
    </div>
    @{
        int totalItems = 0;
        decimal totalPrice = 0;
    }

    @*@foreach (var item in Model.Carts)
        {
            foreach (var hamper in Model.Hampers)
            {
                @if (hamper.HamperId == item.HamperId)
                {
                    <div class="row">
                        <div class="col-md-4">
                            @if (hamper.FileName == null)
                            {
                                <img src="~/Images/Image-not-available_1.jpg" alt="N/A" height="100" />
                            }
                            else
                            {
                                <img src="~/Images/@hamper.FileName" alt="@hamper.FileName" height="100" />
                            }
                        </div>
                        <div class="col-md-4">
                            <h5 class="item-name">@hamper.Name</h5>
                        </div>
                        <div class="col-md-4">
                            <h4>@item.Quantity</h4>
                        </div>
                    </div>
                    totalItems++;
                    totalPrice += item.TotalPrice;
                }
            }
        }

        <div class="row">
            <h2>Total: @totalPrice</h2>
        </div>*@
    <h2>Selected Items</h2>

    <table class="col table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity <br /> Not functioning</th>
                <th scope="col">Action <br /> Not functioning</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Carts)
            {
                foreach (var hamper in Model.Hampers)
                {
                    @if (hamper.HamperId == item.HamperId)
                    {
                        <tr>
                            <td class="text-center align-middle">
                                @if (hamper.FileName == null)
                                {
                                    <img src="~/Images/Image-not-available_1.jpg" alt="N/A" height="150" />
                                }
                                else
                                {
                                    <img src="~/Images/@hamper.FileName" alt="@hamper.FileName" height="150" />
                                }
                            </td>
                            <td class="align-middle">@hamper.Name</td>
                            <td class="text-center align-middle">
                                <div class="col quantity">
                                    @*<input style="width: 68px" asp-for="Quantity" type="number" min="1" max="5" step="1" value="1">*@
                                    @*<input style="width: 68px" type="number" min="1" max="5" step="1" value="@item.Quantity">*@
                                </div>
                                @item.Quantity
                            </td>
                            <td class="text-center align-middle">
                                <button style="width:60px">X</button>
                            </td>
                        </tr>
                        totalItems++;
                        totalPrice += item.TotalPrice;
                    }
                }
            }
        </tbody>
    </table>
    <div class="text-center">
        <input asp-for="OrderPrice" hidden="hidden" value="@totalPrice" />
        <!--PAYMENT DETAILS NEXT PAGE IDEA-->
        <input type="submit" value="Place Order" class="btn btn-success border-info text-primary w-25" />
    </div>
</form>

<div class="text-center mt-3">
    <a class=" d-inline btn btn-light border-info text-primary" role="button" href="@Url.Action("Shop", "Home")">Continue Shopping</a>
    <a class=" d-inline btn btn-warning border-info text-primary" role="button" href="@Url.Action("Details", "Cart")">Return to Cart</a>
</div>
